.env*
*venv
.clean

projects
demos

# logs
*.log
*logs*

# fetched by make
scripts/build_changelog.py

# build/test/prof/cache
dist
prof
tests/output
docs/_build
.coverage
coverage.xml
junit.xml
__pycache__
.*cache

# filetypes
*.csv
*.jsonl
*.gif
*.cast
*.png
