.env*
.clean

venv
.venv

projects
demos
eval[_-]results*

# logs
*.log
*logs/
logs*

# fetched by make
scripts/build_changelog.py

# build/test/prof/cache
dist
prof
tests/output
docs/_build
.coverage*
coverage.xml
htmlcov
junit.xml
__pycache__
.*cache

# filetypes
*.csv
*.jsonl
*.gif
*.cast
*.png
.aider*
.env

# if you choose to keep ~/.config/gptme/config.toml in the repo
config.toml

# MacOS
.DS_Store

# VSCode
.vscode

node_modules
